:root {
  --default-font-color: #000000;
  --primary: #CC0000;
}

a {
  color: var(--primary);
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter UI', sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}
